body {
    margin: 0;
    text-align: center;
    background: #1B244A
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    /* border-spacing: 10px; */
    font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #9AABD8;

}

h3{
   
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 25px;
text-align: center;
color: #EEEEEE;
}
#set-0{
    position: absolute;
    bottom: 42%;
    left: 46%
    
}
.foul{
    
    margin-top: 8px;
    width: 60px;
    color: #F94F6D;

}



